.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-heading {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-size: 1.25rem;
  border-bottom: 1px solid #464646;
}

.detail-button {
  border-radius: 6px;
  border: none;
  padding: 7px 15px;
  font-size: 1.45rem;
  margin: 15px;
}

.delete-button {
  background-color: red;
}

.save-button {
  background-color: darkgreen;
}

.back-button {
  background-color: darkblue;
}
